# Node
node_modules/
npm-debug.log*
yarn-error.log

# React Native
android/.gradle/
android/app/build/
android/build/
ios/Pods/
ios/build/
*.keystore
!debug.keystore
.tmp/
*.orig.*
*.apk
*.aab
*.hprof

# Environment
.env
.env.local
.env.*.local

# Metro
.metro-health-check*

# Testing
coverage/
__snapshots__/

# Misc
.DS_Store
Thumbs.db
*.log
